<a href="https://colab.research.google.com/github/KeerthiSegu/DataScience-Assignments_Repository/blob/main/KNN_Regression_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(np.random.randint(10,100,(100,5)))

In [ ]:
df.columns=["Customer","Sales","Trans","Promo","Units"]
df["Customer"]=["Customer name "+ str(i) for i in range(1,101)]

In [ ]:
df.head()

          Customer  Sales  Trans  Promo  Units
0  Customer name 1     10     68     37     29
1  Customer name 2     68     70     49     38
2  Customer name 3     96     19     59     71
3  Customer name 4     60     99     62     32
4  Customer name 5     92     50     79     41

In [ ]:
train=df[0:70]
valid=df[70:90]
test=df[90:]
print(train.shape,valid.shape,test.shape)

(70, 5) (20, 5) (10, 5)

In [ ]:
y_train=train["Sales"]
x_train=train.drop(["Customer","Sales"],axis=1)
y_valid=valid["Sales"]
x_valid=valid.drop(["Customer","Sales"],axis=1)
y_test=test["Sales"]
x_test=test.drop(["Customer","Sales"],axis=1)
print(x_train.shape,y_train.shape,y_valid.shape,x_valid.shape,y_test.shape,x_test.shape)

(70, 3) (70,) (20,) (20, 3) (10,) (10, 3)

In [ ]:
distance=[]
for i in x_valid.values:
  for j in x_train.values:
    distance.append(np.sqrt((i-j)**2).sum())

In [ ]:
distance=np.array(distance)

In [ ]:
distance.shape

(1400,)

In [ ]:
dist_index=distance.reshape(20,70).argmin(axis=1)

In [ ]:
dist_index

array([32, 20, 59, 49, 24, 43, 26, 11,  6, 13, 33, 15, 69, 64,  4,  9, 20,
       60, 17, 22])

In [ ]:
predicted=[]
for i in dist_index:
  predicted.append(train.iloc[i,1])

In [ ]:
predicted

[96,
 97,
 16,
 95,
 65,
 88,
 47,
 83,
 92,
 90,
 49,
 29,
 80,
 12,
 92,
 81,
 97,
 92,
 63,
 50]

In [ ]:
train[32:33]

            Customer  Sales  Trans  Promo  Units
32  Customer name 33     96     88     59     36

In [ ]:
pred=np.array(predicted)

In [ ]:
pred

array([96, 97, 16, 95, 65, 88, 47, 83, 92, 90, 49, 29, 80, 12, 92, 81, 97,
       92, 63, 50])

In [ ]:
error=abs(y_valid.values-pred)

In [ ]:
mae=abs(y_valid.values-pred).sum()/len(predicted)

In [ ]:
mse=(abs(y_valid.values-pred).sum()/20)**2

In [ ]:
rmse=np.sqrt((abs(y_valid.values-pred).sum()/20)**2)