# <h2> pattern 1</h2>

In [89]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

<h2> Pattern 2</h2>

In [47]:
a=""
for i in range(65,70):
    a=a+chr(i)+" "
    print(a)
print("\n")

A
A B
A B C
A B C D
A B C D E

<h2>Pattern 2</h2>

In [96]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

<h2>Pattern 3</h2>

In [98]:
for i in range(1,6):
    print(i*" *")

 *
 * *
 * * *
 * * * *
 * * * * *

<h2>Pattern 4</h2>

In [101]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

<h2>Pattern 5</h2>

In [102]:

for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

<h2>Pattern 6</h2>

In [173]:
for i in range(1,6):
    print((5-i)*"  "+(i*" *"))

         *
       * *
     * * *
   * * * *
 * * * * *

<h2>pattern 7</h2>

In [5]:
s=""
for i in range(1,6):
    for j in range(i,i+1):
        s=s+str(j)+" "
        print(s.center(10," "),end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

<h2>Pattern 8</h2>

In [18]:
s=""
for i in range(1,6):
    for j in range(6-i,6):
        s=s+str(j)+" "
    print(s.center(10," "),end=" ")
    s=""    
    print()

    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

<h2>Pattern 9</h2>

In [175]:
a=" "
for i in range(65,70):
        a=a+chr(i)+" "
        print(a.center(15," "))

       A
      A B
     A B C
    A B C D
   A B C D E

<h2>Pattern10</h2>

In [176]:
k=0
a=""
for i in range(69,64,-1):
    for j in range(69-k,70):
        a+=chr(j)+" "
    print(a.center(15," "),end=" ")
    k+=1
    a=""
    print()

       E
      D E
     C D E
    B C D E
   A B C D E

<h2>Pattern11</h2>

In [20]:
s=""
for i in range(1,10,2):
    s=i*"*"+" "
    print(s.center(10," "))

    *
   ***
  *****
 *******
*********

<h2>Pattern12</h2>

In [24]:
s=""
for i in range(1,6):
    for j in range(1,i+1):
        s=s+str(i)+" "
    print(s.center(10," "),end=" ")
    s=""
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

<h2>Pattern13</h2>

In [29]:
s=""
for i in range(65,70):
    for j in range(65,i+1):
         s=s+chr(i)+" "
    print(s.center(10," "),end=" ")
    s=""
    print()

    A
   B B
  C C C
 D D D D
E E E E E

<h2>Pattern14</h2>

In [31]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

<h2>Pattern15</h2>

In [41]:
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

<h2>Pattern16</h2>

In [42]:
for i in range(1,6):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

<h2>Pattern17</h2>

In [43]:
k=0
for i in range(1,6):
    for j in range(1,i+1):
        k+=1
        print(k,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

<h2>Pattern18</h2>

In [45]:
for i in range(70,65,-1):
    for j in range(65,i):
        print(chr(j),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A